img {
    height: 220px;
}

#logo {
    height: 35px;
    border-right: 10px;
}

.profile-box {
    border-width: 0px;
    border-radius: 5px;
    box-shadow: 3px 10px 18px -6px rgb(0 0 0 / 20%);
    padding: 10px;
    padding-left: 40px;
    padding-top: 20px;
    width: 75%;   
    height: 420px;
    background-color: #fff;
    margin-bottom: 20px;
}