Button
{
    font-size: '48px';
    height: '50%';
    width: '50%';
}
Button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    /* background: #eee; */
    box-shadow: 0 16px 8px -4px lightblue;
}

Link:Button:hover {
    text-decoration: none;
    background-color: #04AA6D;
}

Button.clicked {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}