.content {
    width: 100vw;
    margin: auto;
    height: 99vh;
    padding: 1%;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

img {
    height: 150px;
}

.qrcode {
    height: 300px;
}

#button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

#button:hover {background-color: #3e8e41}

#button:active {
    background-color: #3e8e41;
    transform: translateY(4px);
}
